/**
 * http://kuler.adobe.com/#themeID/1241649
 *
 * Near-black brown 4F4247
 * Standard brown   945A51
 * Orange           EB8A5E
 * Highlight Yellow FEC87E
 * Alternate Green  BFB17A
 * White Analog     E8C1D2
 */

body {
  color: #4f4247;
  background: #4f4247;
}

.container {
  background: #fed;
  width: 940px;
}

header {
}

section {
}

section h1 {
}

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/* Links */

a {
  color: #945a51;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

a.button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;


  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

a.signup {
  background: #945A51;
  color: #fff;
}

a.signin {
}

a.signout {
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  border: 4px solid #EB8A5E;
  width: 30em;
}

#error_explanation h2 {
  background: #EB8A5E;
  font-size: 14px;
  text-align: center;
}

#error_explanation p {
  margin: 0 0 0 10px;
}

#error_explanation ul li {
  list-style-type: square;
}
