/*------------------------------------*\
  RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE:WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:'';
  content:none;
}
/* remember to define visible focus styles!
:focus{
  outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/*------------------------------------*\
  MAIN
\*------------------------------------*/
/* GO! */


/**
 * http://kuler.adobe.com/#themeID/1241649
 *
 * Near-black brown 4F4247
 * Standard brown   945A51
 * Orange           EB8A5E
 * Highlight Yellow FEC87E
 * Alternate Green  BFB17A
 * White Analog     E8C1D2
 */

body {
  background: #4f4247;
  color: #4f4247;
  font-family: sans-serif;
}

.container {
  background: #fed;
  width: 940px;
}

.clear {
  clear: both;
}

header {
}

section {
  padding: 15px 0 0 0;
}

footer {
  padding: 0 0 19px 0;
}

/* Links */

a {
  color: #945a51;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

a.button {
  display: block;

  font-size: 150%;
  font-weight: bold;

  line-height: 150%;
  margin: auto auto;

  padding: 20px;

  text-align: center;

  width: 190px;
}

a.signup {
  background: #945A51;
  color: #fff;
}

a.signin {
}

a.signout {
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}


.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  border: 4px solid #EB8A5E;
  width: 30em;
}

#error_explanation h2 {
  background: #EB8A5E;
  font-size: 14px;
  text-align: center;
}

#error_explanation p {
  margin: 0 0 0 10px;
}

#error_explanation ul li {
  list-style-type: square;
}

/** Forms **/
div.formContainer {
  margin: auto auto;
}

div.formContainer div.field {
  margin: auto auto;
  width: 460px;
}

div.formContainer div.field label {
  font-size: 150%;
  font-weight: bold;

  margin: 0 auto;
  line-height: 150%;
  width: 460px;
  text-align: left;
}

div.formContainer div.field input {
  font-size: 150%;
  font-weight: bold;

  margin: 0 auto;
  line-height: 150%;
  text-align: center;
  width: 460px;
  text-align: left;
}

div.formContainer div.actions  {
    margin: auto auto;
  width: 460px;

}

div.formContainer div.actions input {
  font-size: 150%;
  border: 1px solid #4f4247;
  margin: 15px auto;
  background: #945A51;
  color: #fff;
}

/** home page/marketing stuff */
div.overview {
  width: 780px; 
  margin: 5px 0 0 80px;
  padding: 0 0px;
}

p.summary {
  font-size: 200%;
  font-weight: bold;
  line-height: 200%;
  text-align: center;
}

p.details {
  float: left;
  padding: 5px;
  width: 380px;
}

tbody tr:nth-child(even) td, tbody tr.even td {background-color:transparent;}transparent


tr.weightrowAM{
  background-color: #eee;
}

tr.weightrowPM{
  background-color: #111;
}

td.weight {
  background-color: #EB8A5E;
}

td.localtime {
  background-color: #EB8A5E;
}
