<tr>
  <td class="weight">
    <span class="user">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span>
    <span class="weight"><%= feed_item.weight %></span>
    <span class="timestamp">
      <%= feed_item.created_at.strftime("%H%M %d %B, %Y") %>
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => feed_item.weight %>
  </td>
  <% end %>
</tr>

