<tr>
  <td class="weight">
    <span class="weight"><%= weight.weight %></span>
    <span class="timestamp">
      Recorded <%= time_ago_in_words(weight.created_at) %> ago.
    </span>
  </td>
</tr>

